body {
  margin:0;
  font-family:Arial
}

a {
  text-decoration: none;
  color: black;
}

/* Toggle */
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Page content */
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

  /* Štýly pre tabuľku */
  table {
    width: 30%; /* Menšia šírka */
    margin: 0 auto; /* Stredné zarovnanie */
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
    margin-bottom: 20px;
    text-align: left;
  }


  table th,
  table td {
    border: 1px solid #a2a9b1;
    padding: 8px;
  }
  table td:nth-child(2){
    text-align: center;
  }
  
  /* Štýly pre záhlavie tabuľky */
  table thead {
    background-color: #f2f2f2;
  }
  
  /* Štýly pre nepárne riadky tabuľky */
  table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Štýly pre hover efekt nad riadkom tabuľky */
  table tbody tr:hover {
    background-color: #e6f7ff;
  }
  
caption {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.main{
  width: 100%;
}

.content{
  width: 100%; /* Šířka divu */
  margin: 0 auto; /* Vycentrování divu horizontálně */
  display: flex;
  flex-direction: column; /* Uspořádat elementy ve sloupci */
  align-items: center; /* Vycentrovat elementy ve vertikálním směru */
}

.content > * {
  margin: 30px;
}

.table-container{
  width: 100%;
}

.table-container > table > tr > td:nth-child(2){
  text-align: left;
}

.playoff-table > *{
 margin: 30px;
}

.playoff-table table {
  width: 500px;
  table-layout: fixed; /* Sloupce budou mít stejnou šířku */
}

.playoff-table table td:nth-child(2) {
  width: 20px !important; /* Šířka druhého sloupce */
  text-align: center;
}


/* Outer navigation wrapper */
.navigation {
  height: 70px;
  background: #262626;
}

/* Logo and branding */
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* Container with no padding for navbar */
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Navigation */
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

/* Dropdown list */
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

/* Dropdown list binds to JS toggle event */
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}


.SCwinners td:nth-child(1){
  text-align: center;
}
.SCwinners td:nth-child(2){
  text-align: left;
}


#matches-table tr:nth-child(9),
#matches-table tr:nth-child(17),
#matches-table tr:nth-child(25),
#matches-table tr:nth-child(33),
#matches-table tr:nth-child(41),
#matches-table tr:nth-child(49),
#matches-table tr:nth-child(57),
#matches-table tr:nth-child(65),
#matches-table tr:nth-child(73),
#matches-table tr:nth-child(81),
#matches-table tr:nth-child(89),
#matches-table tr:nth-child(97)
 {
  /* Tu pridajte štýly pre každý piaty <td> element */
  /* Napríklad: */
  background-color: lightblue;
  font-weight: bold;
}
#matches-table tbody tr:first-child {
  background-color: lightblue;
  font-weight: bold;
}

#matches-table thead{
text-align: center;
}

.standings-table{
  text-align: center;
}

.standings-table tr td:nth-child(2){
  text-align: left;
  font-weight: 200;
} 

.west  tbody tr:nth-child(n+1):nth-child(-n+8) {
  background-color:lightblue;
}

.east  tbody tr:nth-child(n+1):nth-child(-n+8) {
  background-color: lightpink;
}
  

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }

  .navbar-links {
    display: none;
  }

  .navbar-hamburger {
      display: block;
  }

  .content{
    width: 100%; /* Šířka divu */
  }

  table {
    font-size: 16px;
    width: 95%;
  }

  .table-container{
    overflow-x: auto; /* Přidá horizontální posuvnou lištu, pokud je obsah tabulky větší než šířka kontejneru */
    width: 90%;
  }

  .playoff-table{
    overflow-x: auto; /* Přidá horizontální posuvnou lištu, pokud je obsah tabulky větší než šířka kontejneru */
    width: 100%;
  }
  .playoff-table table {
    width: 100%;
  }
  .main{
    width: 100%;
  }
  .main > img{
    max-width: 100%;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}


