a {
  text-decoration: none;
  color: black;
}


table {
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
  
th, td {
  border: 1px solid #ddd;
  padding: 8px 16px 8px 16px;
  text-align: left;
}
  
th {
  background-color: #f2f2f2;
}
  
tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
tr:hover {
  background-color: #ddd;
}
  
caption {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.content{
  width: 50%; /* Šířka divu */
  margin: 0 auto; /* Vycentrování divu horizontálně */
  display: flex;
  flex-direction: column; /* Uspořádat elementy ve sloupci */
  align-items: center; /* Vycentrovat elementy ve vertikálním směru */
}

.content > * {
  margin: 30px;
}


.division-table{
  width: 700px;
}

.division-table th{
  text-align: center;
}
.division-table th:first-child{
  width: 20px;
}

.division-table th:nth-child(2) {
  text-align: left;
}

.division-table td{
  text-align: center;
}

.atlantic tr:nth-child(-n+4), 
.metropolitan tr:nth-child(-n+4) {
  /* Styl pro buňky v prvních třech řádcích */
  background-color: lightblue; /* Změňte na požadovanou barvu */
}

.pacific tr:nth-child(-n+4), 
.central tr:nth-child(-n+4) {
  /* Styl pro buňky v prvních třech řádcích */
  background-color: #ade6ad; /* Změňte na požadovanou barvu */
}

.pacific tr:nth-child(5), 
.pacific tr:nth-child(6),
.metropolitan tr:nth-child(5), 
.metropolitan tr:nth-child(6) {
  /* Styl pro buňky v prvních třech řádcích */
  background-color: #f0baba; /* Změňte na požadovanou barvu */
}


.division-table td:first-child {
  text-align: center;
}

.division-table td:nth-child(2) {
  text-align: left;
}

.division-table td:last-child {
  text-align: right;
}

.navbar {
  display: flex;
}

.button-wrapper {
  display: inline-block; /* Zabraňuje šíření divu na celou šířku */
}

.button {
  display: inline-block;
  padding: 10px 20px; /* Odsazení tlačítka */
  margin: 10px; /* Umožňuje mezi tlačítky určitý odstup */
  background-color: #344479; /* Barva pozadí tlačítka */
  color: white; /* Barva textu */
  text-decoration: none; /* Zrušení podtržení textu */
  border: none; /* Odstranění rámečku */
  border-radius: 4px; /* Zakulacení rohů */
  cursor: pointer; /* Změna kurzoru na ručičku */
  transition: background-color 0.3s; /* Plynulá změna barvy pozadí */
}

.button a{
  color: white;
}

.button:hover {
  background-color: #4a5886; /* Barva pozadí tlačítka při najetí myší */
}


.playoff-table > *{
 margin: 30px;
}

.playoff-table table {
  width: 500px;
  table-layout: fixed; /* Sloupce budou mít stejnou šířku */
}

.playoff-table table td:nth-child(2) {
  width: 20px !important; /* Šířka druhého sloupce */
  text-align: center;
}


/* Styly pro tabulku */
#teams-table-body {
  border-collapse: collapse;
}

#teams-table-body th,
#teams-table-body td {
  border: 1px solid #ddd;
  padding: 04px 10px 4px 0px;
  text-align: left;
}

/* Styly pro sloupec s obrázky */
#teams-table-body th:nth-child(1),
#teams-table-body td:nth-child(1) {
  width: auto; /* Nastaví šířku prvního sloupce na 100px */
}

#teams-table-body th:nth-child(2),
#teams-table-body td:nth-child(2) {
  width: 200px; /* Nastaví šířku druhého sloupce na 200px */
}




@media screen and (max-width: 640px) {

  .content{
    width: 100%; /* Šířka divu */
  }

  table {
    font-size: 16px;
  }

  .table-container{
    overflow-x: auto; /* Přidá horizontální posuvnou lištu, pokud je obsah tabulky větší než šířka kontejneru */
    width: 90%;
  }

  .playoff-table{
    overflow-x: auto; /* Přidá horizontální posuvnou lištu, pokud je obsah tabulky větší než šířka kontejneru */
    width: 100%;
  }
  .playoff-table table {
    width: 100%;
  }

}

