body {
  margin:0;
  font-family:Arial
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #183f88;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:focus .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:focus {
  background-color: #ddd;
  color: black;
}

.dropdown:click .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

a {
  text-decoration: none;
  color: black;
}

  /* Štýly pre tabuľku */
  table {
    width: 30%; /* Menšia šírka */
    margin: 0 auto; /* Stredné zarovnanie */
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
    margin-bottom: 20px;
  }
  
  table th,
  table td {
    border: 1px solid #a2a9b1;
    padding: 8px;
  }
  table td:nth-child(2){
    text-align: center;
  }
  
  /* Štýly pre záhlavie tabuľky */
  table thead {
    background-color: #f2f2f2;
  }
  
  /* Štýly pre nepárne riadky tabuľky */
  table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Štýly pre hover efekt nad riadkom tabuľky */
  table tbody tr:hover {
    background-color: #e6f7ff;
  }
  
caption {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.content{
  width: 50%; /* Šířka divu */
  margin: 0 auto; /* Vycentrování divu horizontálně */
  display: flex;
  flex-direction: column; /* Uspořádat elementy ve sloupci */
  align-items: center; /* Vycentrovat elementy ve vertikálním směru */
}

.content > * {
  margin: 30px;
}


.division-table{
  width: 700px;
}

.division-table th{
  text-align: center;
}
.division-table th:first-child{
  width: 20px;
}

.division-table th:nth-child(2) {
  text-align: left;
}

.division-table td{
  text-align: center;
}

.atlantic tr:nth-child(-n+4), 
.metropolitan tr:nth-child(-n+4) {
  /* Styl pro buňky v prvních třech řádcích */
  background-color: lightblue; /* Změňte na požadovanou barvu */
}

.pacific tr:nth-child(-n+4), 
.central tr:nth-child(-n+4) {
  /* Styl pro buňky v prvních třech řádcích */
  background-color: #ade6ad; /* Změňte na požadovanou barvu */
}

.pacific tr:nth-child(5), 
.pacific tr:nth-child(6),
.metropolitan tr:nth-child(5), 
.metropolitan tr:nth-child(6) {
  /* Styl pro buňky v prvních třech řádcích */
  background-color: #f0baba; /* Změňte na požadovanou barvu */
}


.division-table td:first-child {
  text-align: center;
}

.division-table td:nth-child(2) {
  text-align: left;
}

.division-table td:last-child {
  text-align: right;
}

.navbar {
  display: flex;
}

.button-wrapper {
  display: inline-block; /* Zabraňuje šíření divu na celou šířku */
}

.button {
  display: inline-block;
  padding: 10px 20px; /* Odsazení tlačítka */
  margin: 10px; /* Umožňuje mezi tlačítky určitý odstup */
  background-color: #344479; /* Barva pozadí tlačítka */
  color: white; /* Barva textu */
  text-decoration: none; /* Zrušení podtržení textu */
  border: none; /* Odstranění rámečku */
  border-radius: 4px; /* Zakulacení rohů */
  cursor: pointer; /* Změna kurzoru na ručičku */
  transition: background-color 0.3s; /* Plynulá změna barvy pozadí */
}

.button a{
  color: white;
}

.button:hover {
  background-color: #4a5886; /* Barva pozadí tlačítka při najetí myší */
}


.playoff-table > *{
 margin: 30px;
}

.playoff-table table {
  width: 500px;
  table-layout: fixed; /* Sloupce budou mít stejnou šířku */
}

.playoff-table table td:nth-child(2) {
  width: 20px !important; /* Šířka druhého sloupce */
  text-align: center;
}


/* Styly pro tabulku */
#teams-table-body {
  border-collapse: collapse;
}

#teams-table-body th,
#teams-table-body td {
  border: 1px solid #ddd;
  padding: 04px 10px 4px 0px;
  text-align: left;
}

/* Styly pro sloupec s obrázky */
#teams-table-body th:nth-child(1),
#teams-table-body td:nth-child(1) {
  width: auto; /* Nastaví šířku prvního sloupce na 100px */
}

#teams-table-body th:nth-child(2),
#teams-table-body td:nth-child(2) {
  width: 200px; /* Nastaví šířku druhého sloupce na 200px */
}


@media only screen and (max-width: 768px) {
  .navbar-links {
      display: none;
  }

  .navbar-hamburger {
      display: block;
  }

  .content{
    width: 100%; /* Šířka divu */
  }

  table {
    font-size: 16px;
  }

  .table-container{
    overflow-x: auto; /* Přidá horizontální posuvnou lištu, pokud je obsah tabulky větší než šířka kontejneru */
    width: 90%;
  }

  .playoff-table{
    overflow-x: auto; /* Přidá horizontální posuvnou lištu, pokud je obsah tabulky větší než šířka kontejneru */
    width: 100%;
  }
  .playoff-table table {
    width: 100%;
  }
}

/* Outer navigation wrapper */
.navigation {
  height: 70px;
  background: #262626;
}

/* Logo and branding */
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* Container with no padding for navbar */
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Navigation */
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

/* Dropdown list */
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

/* Dropdown list binds to JS toggle event */
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}


#matches-table tbody tr.date-row td {
  text-align: center;
  font-weight: bold;
  color: red;
}


@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

/* Toggle */
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Page content */
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
